Data/FactTransactions.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="record">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Transaction_PK" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="Transaction_ID" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="Customer_FK" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Account_FK" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Transaction_Type_FK" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Transaction_Amount" type="xs:string" />
              <xs:element minOccurs="0" name="Transaction_Date" type="xs:date" />
              <xs:element minOccurs="0" name="Branch_FK" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>