Data/FactFinancialProducts.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="record">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Product_PK" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="Product_ID" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="Customer_FK" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Product_Type_FK" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Start_Date" type="xs:string" />
              <xs:element minOccurs="0" name="End_Date" type="xs:string" />
              <xs:element minOccurs="0" name="Interest_Rate" type="xs:string" />
              <xs:element minOccurs="0" name="Credit_Limit" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>